<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.ac.cput.recipesearcher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeSearcher">
        <activity
            android:name=".Activities.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RecipeActivity"
            android:exported="false"
            android:label="@string/title_activity_recipe_screen" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".Activities.GetStartedWelcome2Activity"
            android:exported="false"
            android:label="@string/title_activity_get_started_welcome2" />
        <activity
            android:name=".Activities.GetStartedWelcome1Activity"
            android:exported="false"
            android:label="@string/title_activity_get_started_welcome1" />
        <activity
            android:name=".Activities.SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
    </application>

</manifest>