<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.ac.cput.recipesearcher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeSearcher">
        <activity
            android:name=".Activities.FavouritesRecipeScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.RecipeScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.PrivacyPolicyScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.SettingsScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileEditScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.SavedScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.FavouritesScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeScreenNavActivated"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.SignInScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.SignInSignUpScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.GetStartedScreen2"
            android:exported="false" />
        <activity
            android:name=".Activities.GetStartedScreen"
            android:exported="false" />
    </application>

</manifest>